<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
        <h2>Categorias</h2>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
          
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th> 
                    <th><%=  %></th>                     
                </tr>
            <% }) %> 
        </tbody>
    </table>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>